.fa-green{
  color: #248d39 !important;
}
.fa-red{
  color: #c02c47 !important;
}
.fa-orange{
  color: #ff8800 !important;
}
.fa-yellow{
  color: #e1bd00 !important;
}
.fa-blue{
  color: #00a6ff !important;
}
